body
{
  color: rgb(248, 190, 190);
  background: rgb(107, 161, 180);
}

.heading
{
    width: 80%;
    font-size:22px;
}

.name_of_member
{
    color: rgb(154, 113, 192);
}

#camera
{
    border: 2px dashed rgb(118, 59, 85);
    width: 350;
    height: 300px;
}

.name_of_member,#result_object_name
{
    color: rgb(154, 113, 192);
}

.name_of_member, #result_object_name, #result_object_accuracy
{
    color: rgb(107, 40, 72);
}

